.allApp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    width: 100%;
    text-align: center;
}

.formulario {
    display: flex;
}

main {
    width: 100%;
}

.tarjeta {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.tarjeta li h2 {
    margin: 0;
}

.info__status {
    display: flex;

}

.info__status p {
    margin: 0;
}